#header
{
color:rgb(50,50,50);
font-size:4em;
text-align:right;
height:147px;
/*background-color:rgb(150,0,0);*/
background-position:top right;
align:right;
vertical-align:bottom;
padding:0px;
margin:0px;
border:0px;
}

#profile
{
background-color:rgb(200,200,200);
padding:0px;
margin:0px;
border:0px;
border-collapse:collapse;
}
#main
{
padding:0px;
margin:50px;
border:0px;
border-collapse:collapse;
}
#maintext
{
font-family:Helvetica, Arial, sans-serif;
line-height:25px;
padding:10px;
margin:0px;
border:0px;
border-collapse:collapse;
}
#maintextnospace
{
font-family:Helvetica, Arial, sans-serif;
line-height:15px;
padding:10px;
margin:0px;
border:0px;
border-collapse:collapse;
}

#papertitle
{
color:rgb(200,0,0);
padding:0px;
margin:0px;
border:0px;
border-collapse:collapse;
}
a
{
color:rgb(150,0,0);
text-decoration:none;
}
a:hover
{
color:rgb(220,0,0);
text-decoration:none;
}
	
